In [1]:
--CREATE DATABASE SchoolData;      --Create new database

In [35]:
%defaultDatasource jdbc:postgresql://localhost/SchoolData?user=username&password=123456

In [36]:
CREATE TABLE student(                       --Create new table
    id          int          NOT NULL,      --int variable, NOT NULL: cannot be empty
    name        varchar(20),                --string up to 20 character  
    gender      char(1)      DEFAULT 'M',   --fixed length string, default value can be specified
    birth_date  date,
    CONSTRAINT   id_pk  PRIMARY KEY(id)      --specify primary key using constraint
);

In [37]:
--DROP TABLE student;                --Delete existing table

In [38]:
INSERT INTO student(id, name, gender, birth_date)    --insert single entry
VALUES(100, 'George', 'M', '11.01.1990');

INSERT INTO student                                  --if in same order with table and complete, no need to write column names
VALUES(109, 'Gauss', 'M', '05.19.1992');


INSERT INTO student(id, birth_date, name)            --columns can be in different order
VALUES(101, '11.01.1990', 'Gerard');

INSERT INTO student(id)                              --it is also allowed, since only id is NOT NULL
VALUES(102);

--INSERT INTO studemt(id, name) VALUES                 --results from SELECT can also be inserted
--SELECT std_id,std_name FROM std_table;

In [39]:
SELECT * FROM student;

In [40]:
INSERT INTO student(id, name, birth_date, gender) VALUES  --insert multiple entries
(106,'Bruce','11.12.1991','M'),
(107,'Tom','05.10.1990','M'),
(103,'Brad','10.04.1992','M'),
(104,'Marry','12.06.1990','F'),
(105,'Angela','12.09.1991','F');

In [41]:
SELECT * FROM student;

In [42]:
-- create another table to keep contact info of students
CREATE TABLE contact(
    id      int          NOT NULL,
    email   varchar(25)  NULL,
    phone   varchar(15)  NOT NULL,
    adress  varchar(25)  NULL,
    city    varchar(15)  NULL,
    CONSTRAINT contacts_pk  PRIMARY KEY (id)
);
INSERT INTO contact(email, phone, adress, city, id) VALUES
('em@y.com','33309876','Croner str. 120', 'London', 100),
('m@y.com','55509876','Max str. 10', '', 103),
('','1679877','','',102),
('','1679877','','',106),
('','1679877','','',104);

-- create another table to keep contact info of parents
CREATE TABLE parent(
    prt_name    varchar(20)     NOT NULL,
    affinity    varchar(15)     NOT NULL,
    phone       varchar(15)     NOT NULL,
    student     int             NOT NULL,
    CONSTRAINT parent_fk FOREIGN KEY(student) REFERENCES student(id)
);
INSERT INTO parent(prt_name, affinity, phone, student) VALUES
('Jane','Mother','12309876',100),
('Jack','Father','1987677',102),
('Helena','Mother','4569876',103),
('Suzzy','Mother','12309876',105),
('Nick','Father','12309876',106),
('Sam','Uncle','12309876',101);

In [43]:
SELECT * FROM contact;

In [44]:
SELECT * FROM parent;

In [45]:
ALTER TABLE parent ADD occupation varchar(15);         --add new column to parent table

In [46]:
SELECT * FROM parent;

In [47]:
ALTER TABLE parent ADD CONSTRAINT parent_pk PRIMARY KEY (prt_name);         --define primary key on table

In [48]:
ALTER TABLE parent DROP CONSTRAINT parent_pk;       -- remove primary key on table

In [49]:
SELECT * FROM parent;

In [50]:
ALTER TABLE parent DROP COLUMN occupation;    --remove column from table

In [51]:
SELECT * FROM parent;

In [52]:
--! Drop : delete object
--! Alter: change object
--DROP TABLE parent;      --deletes table

In [53]:
SELECT * FROM contact;

In [54]:
UPDATE contact                                --update contact table
SET phone = '5552355', adress = 'Broadway 20' 
WHERE id = 104;                               --if no WHERE, it will update all rows

In [55]:
SELECT * FROM contact;

In [56]:
DELETE FROM contact            -- delete rows on table
WHERE phone = '1679877';       --if no WHERE, all rows will be deleted

In [57]:
SELECT * FROM contact;

In [58]:
--TRUNCATE TABLE contact;      --delete all rows and resets Autoincrement
                               --similar with DELETE TABLE contacts(but Autoincrement will not be reseted);

In [59]:
SELECT * FROM contact;

In [60]:
--lets create a full table using three of the tables
SELECT s.*, c.email, c.adress, p.prt_name,p.affinity,p.phone AS parent_phone 
FROM student s
LEFT OUTER JOIN contact c
ON s.id=c.id
LEFT OUTER JOIN parent p 
ON s.id=p.student;

In [61]:
CREATE VIEW full_info AS(            --create a view. Views behave like virtual tables
    SELECT s.*, c.email, c.adress, p.prt_name,p.affinity,p.phone AS parent_phone 
    FROM student s
    LEFT OUTER JOIN contact c
    ON s.id=c.id
    LEFT OUTER JOIN parent p 
    ON s.id=p.student
);
--DROP VIEW full_info;            -- removes view

In [62]:
SELECT * FROM full_info;

In [63]:
SELECT * FROM full_info
WHERE prt_name IS NOT NULL
ORDER BY name;

In [64]:
UPDATE full_info                --update and insert can also be conducted on view if view is created only on single table
SET name = 'Mathias' 
WHERE id = 102;

org.postgresql.util.PSQLException:  ERROR